<% let mark = 18 %>
<% if (mark > 20) { %>
    <p>PASS</p>
<% }else{ %>
    <p>FAIL</p>
<% } %>

<% let name = "<b>ABC</b>" %>

<p><%= name %></p>
<!-- <p><%- name %></p> -->

<%# This is comment  %>

<%% This reads ejs as text %>